.organize {
  .col-lg-4 {
      @include media-breakpoint-down(xl) {
          margin-bottom: 1em;
      }
  }
  .col-lg-8 {
      -webkit-columns: 250px 2;
  }
  .org_btn {
      max-height: 96px;
      min-height: 96px;
      border: 1px solid $primary;
      color: #333;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin-bottom: 2em;
      @include media-breakpoint-down(lg) {
          margin-bottom: unset;
      }
      &:hover {
          color: $primary;
          background: unset;
          .tip img {
              visibility: visible;
          }
      }
      &[title]:hover::before {
          content: '';
          position: absolute;
          bottom: 0;
          transform: translateY(121%);
          left: 0;
          right: 0;
          margin: auto;
          width: 22px;
          height: 9px;
          background: url('../../images/polygon.png') no-repeat;
          z-index: 1;
      }
      &[title]:hover::after {
          content: attr(title);
          position: absolute;
          bottom: 0;
          transform: translateY(110%);
          left: 0;
          right: 0;
          margin: auto;
          background: #297C6B;
          color: #fff;
          padding: 1em;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          width: 80%;
          border-radius: 10px;
          z-index: 1;
      }
      .tip {
          img {
              visibility: hidden;
              width: 24px;
              height: 24px;
          }
      }
  }
}